body {
    background-image: url(background.jpg);
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

#header {
    height: 150px;
    width: 99.9%;
    margin: auto;
    background-image: url("../bg/default-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
}

#usercontent {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin: auto;
    position: relative;
    top: 15px;
}

#usercontent img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: 3px solid white;
}

#message {
    float: left;
    width: 28%;
    background-color: #e9dddda9;
    top: 30px;
    position: relative;
    padding: 1px 1px 5px 1px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
}

#content {
    width: 69.5%;
    position: relative;
    float: left;
    top: 30px;
    margin-left: 10px;
}

#content div {
    background-color: #e9dddda9;
    border-radius: 2px;
    float: left;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
    margin-bottom: 30px;
}

#content div img {
    position: relative;
    left: 5%;
    bottom: 20px;
    height: 65px;
    width: 65px;
    border-radius: 100px;
}

#content div p {
    text-align: center;
    width: 90%;
}

#content div p {
    float: left;
}

#message textarea {
    font-family: Arial;
    top: 2px;
    position: relative;
    width: 97%;
    background-color: #e9dddda9;
    border: 1px solid rgba(233, 221, 221, 0.664);
    height: 120px;
    display: block;
    margin: auto;
    resize: none;
    color: black;
}

input[value="Post"] {
    width: 100%;
    position: relative;
    top: 3px;
}