body {
    background-image: url(background.jpg);
    background-position: center;
    height: 100%;
}

input {
    display: block;
    position: relative;
    margin: auto;
    top: 25%;
}

form {
    background-color: rgba(39, 37, 37, 0.568);
    width: 300px;
    height: 270px;
    margin: auto;
    position: relative;
    top: 70px;
}

input {
    color: grey;
}


input[type="text"], input[type="password"] {
    width: 75%;
    padding: 10px;
    margin-top: 5px;
    background-color: rgba(45, 45, 53, 0.747);
    border: 1px solid rgb(45, 45, 53);
}

input[type="submit"] {
    width: 65%;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(80, 79, 90, 0.603);
    border: 1px solid rgba(80, 79, 90, 0.603);
    color: rgb(206, 206, 206);
}

input[type="submit"]:hover {
    background-color: rgba(147, 145, 163, 0.603);
    background-color: rgba(147, 145, 163, 0.603);
    color: white;
}

div {
    background-color: rgba(255, 0, 0, 0.452);
    width: 300px;
    height: 100px;
    margin: auto;
    position: relative;
    top: 60px;
}

div p {
    text-align: center;
    position: relative;
    top: 10px;
    color: rgba(255, 255, 255, 0.932);
}

p, input[type="text"], input[type="password"] {
    font-family: Helvetica, sans-serif;
}