body {
    background-image: url("../views/background.jpg");
    background-position: center;
}

#header {
    height: 250px;
    width: 99.9%;
    background-color: green;
    margin: auto;
    background-image: url("../bg/default-header.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
}

#header img {
    width: 150px;
    height: 150px;
    margin: auto;
    border: 3px solid white;
    border-radius: 100px;
    position: relative;
    display: block;
    top: 30px;
}

#posts {
    width: 69.5%;
    position: relative;
    float: left;
    top: 10px;
}

#posts div {
    background-color: #e9dddda9;
    height: 100px;
    border-radius: 2px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
    text-align: center;
}

#info {
    background-color: #e9dddda9;
    width: 30%;
    height: 300px;
    float: left;
    position: relative;
    top: 10px;
    margin-left: 5px;
    border-radius: 2px;
    box-shadow: 5px 5px 5px rgba(14, 13, 13, 0.301);
}

#info input {
    width: 99%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 1000px) {
    #info, #posts {
        width: 99.9%;
        margin: auto;
    }
}